<div id="top-ref" class="mx-3 my-4 d-flex align-items-center align-center">
    <a href="">Cars</a>
    <img src="../assets/chevron-right.png" alt="" style="width: 15px; height: fit-content;">
    <a class="active" href="">List Car</a>
</div>

<div class="ms-3 mb-3 d-flex justify-content-between">
    <h1>List Car</h1>
    <a href="/add" class="btn btn-primary btn-add d-flex align-items-center">
        <img class="icon" src="../assets/fi_plus.png" alt="">
        Add New Car
    </a>
</div>

<div class="ms-3">
  <input type="radio" class="btn-check" name="options-outlined" id="radio-all" autocomplete="off" checked>
  <label class="btn btn-outline-radio" for="radio-all">All</label>
  
  <input type="radio" class="btn-check" name="options-outlined" id="radio-small" autocomplete="off">
  <label class="btn btn-outline-radio" for="radio-small">Small</label>

  <input type="radio" class="btn-check" name="options-outlined" id="radio-medium" autocomplete="off">
  <label class="btn btn-outline-radio" for="radio-medium">Medium</label>

  <input type="radio" class="btn-check" name="options-outlined" id="radio-large" autocomplete="off">
  <label class="btn btn-outline-radio" for="radio-large">Large</label>
</div>

<div id="cars-card" class="row row-cols-1 row-cols-md-3 g-4 m-2">
  <% cars.forEach(function(element) { %>
    <div class="col">
      <div class="card">
        <img src="<%- element.dataValues.img -%>" class="card-img-top" alt="...">
        <div class="card-body">
          <p><%- element.dataValues.name -%></p>
          <h5 class="card-title"><%- element.dataValues.rent -%></h5>
          <div class="d-flex flex-row card-clock my-3">
              <img class="icon" src="../assets/fi_clock.png" alt="">
              <p class="card-text"><%- element.dataValues.updatedAt -%></p>
          </div>
        </div>
        <div class="d-flex p-2">
          <a href="#" class="btn m-1 d-flex align-items-center justify-content-center btn-delete">
              <img class="icon" src="../assets/fi_trash.png" alt="">
              Delete
          </a>
          <a href="/update" class="btn m-1 btn-success d-flex align-items-center justify-content-center btn-edit">
              <img class="icon" src="../assets/fi_edit.png" alt="">
              Edit
          </a>
        </div>
      </div>
    </div>
  <% }); %>
</div>