<div id="top-ref" class="mx-3 my-4 d-flex align-items-center align-center">
    <a href="">Cars</a>
    <img src="../assets/chevron-right.png" alt="" style="width: 15px; height: fit-content;">
    <a class="active" href="">List Car</a>
</div>

<h1 class="ms-3">
    List Car
</h1>